<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form id="sign-up-form">
        <label for="email">Email: </label> <br>
        <input type="text" id="email" name="email"> <br>
        <label for="username">Username: </label> <br>
        <input type="text" id="username" name="username"> <br>
        <label for="password1">Password: </label> <br>
        <input type="password" name="password1" id="password1"> <br>
        <label for="password2">Confirm Password</label> <br> 
        <input type="password" name="password2" id="password2"> <br>
        <input type="button" value="Sign up" onclick="SignUp()"> <br>
    </form>

    <script src="/static/sign-up/static/js/sign_up.js"></script>

</body>
</html>