<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/chat/static/css/chat_page.css">
</head>
<body>
    <div id="chat-block">
        <div id="messages">
        
        </div>
        <form id="write-message">
            <label for="message">Message:</label>
            <input type="text" name="message" id="message"> <br>
            <input id="send_msg" type="button" value="Send"> 
        </form>
    </div>

    <script src="/static/chat/static/js/ws_conn.js"></script>

</body>
</html>