<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <form id="sign-up-form">
        <label for="email">Email: </label> <br>
        <input type="text" id="email" name="email"> <br>
        <label for="password">Password: </label> <br>
        <input type="password" name="password" id="password"> <br>
        <input type="button" value="Sign up" onclick="SignIn()"> <br>
    </form>

    <script>
        var emailField = document.getElementById("email");
        var passwordField = document.getElementById("password");

        const url = "http://localhost:8090/sign-in"

        function SignIn(){
            var userdata = {
                email: emailField.value,
                password: passwordField.value,
            }

            fetch(url, {
                method:"POST", 
                body: JSON.stringify(userdata)
            })
            .then((response) => {
                if(response.status == 200){
                    alert("Signed In !")
                }
            })
            .catch((err) => {
                console.error(err)
            })

        }
        
    </script>

</body>
</html>