<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/chat_page.css">
</head>
<body>
    <div id="messages">
        
    </div>
    <form id="write-message">
        <label for="receiver">Send to:</label>
        <input type="text" id="receiver" name="receiver"> <br>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message"> <br>
        <input type="button" value="Send" onclick="sendMessage()"> 
    </form>

    <script src="/static/chat/static/js/ws_conn.js"></script>

</body>
</html>