<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
</head>
<body>
    <div id="chats-list">

    </div>

    <script>
        const url = "http://localhost:8090/api/my-chats"

        fetch(url, {method: "GET"})
        .then((response)=>{
            response.json()
            .then((obj)=>{
                for(var i=0; i<obj.length; i++)
                    document.getElementById("chats-list").innerHTML += "<a href='" + url + "/" + obj[i]["id"] + "'>" + obj[i]["title"] + "</a> <br/>"
            })
        })
        .catch((err)=>{
            console.error(err)
        })
    </script>
</body>
</html>